---
import Layout from '@layouts/Layout.astro';
import Button from '@components/ui/Button.astro';
import InnerHero from '@components/sections/InnerHero.astro';
import {
  getBackgroundColor,
  getTextColor,
  getHeadlineColor,
  getEyebrowColor,
} from '@utils/styleUtils';
import Input from '@components/ui/form/Input.astro';
import Textarea from '@components/ui/form/Textarea.astro';
import Select from '@components/ui/form/Select.astro';
import Checkbox from '@components/ui/form/Checkbox.astro';
import Radio from '@components/ui/form/Radio.astro';

const title = 'Informácie o nás';
const description = 'O firme';

const heroContent = {
  title: title,
  description: description,
};

const backgrounds = ['base', 'light', 'dark'] as const;
---

<Layout {title} {description}>
  <InnerHero content={heroContent} />
  {/* Content Sections */}
  {
    backgrounds.map((bg) => (
      <div
        data-content={bg}
        class={`${getBackgroundColor(bg)} ${getTextColor(bg)} py-12 ${bg === 'base' ? '' : 'hidden'}`}
      >
        <div class="max-w-4xl mx-auto px-4">
          {/* Typography Section */}
          <section id={`typography-${bg}`} class="mb-12">
            <div class="my-8">
              <p
                class={`text-sm tracking-wider font-medium ${getEyebrowColor(bg)}`}
              >
                Spoločnosť Winsta s.r.o., založená v roku 2010, je popredným
                distribútorom a poskytovateľom logistických služieb na Slovensku
                pre rýchloobrátkový tovar (FMCG).{' '}
              </p>
              <p
                class={`text-sm tracking-wider font-medium ${getEyebrowColor(bg)}`}
              >
                Spoločnosť Winsta pôsobí vo všetkých hlavných obchodných
                reťazcoch na Slovensku a má tím viac ako 30 odborníkov, ktorí sa
                špecializujú na distribúciu, logistiku, skladovanie a predaj.
                Vďaka hlbokému pochopeniu dynamiky trhu a robustnej
                infraštruktúre sme úspešne etablovali a posilnili prítomnosť
                mnohých medzinárodných značiek na slovenskom maloobchodnom trhu.
                Ponúkame vysokokvalitné výrobky vrátane potravín Konti,
                poprednej značky v regióne,.{' '}
              </p>
              <p
                class={`text-sm tracking-wider font-medium ${getEyebrowColor(bg)}`}
              >
                Okrem distribučných služieb poskytujeme skladovacie a logistické
                riešenia, ktoré spĺňajú normy požadované pre potravinárske aj
                nepotravinárske výrobky. Náš sklad s rozlohou 8000 m2 sa
                nachádza na strategickom mieste v blízkosti Bardejova a na
                zabezpečenie včasného dodania tovaru využívame vlastný dopravný
                park
              </p>
            </div>
          </section>
        </div>
      </div>
    ))
  }
</Layout>
